.our-events-container {
    text-align: center;
    color: white;
    padding: 40px;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 0px; 
    row-gap: 0px; 
    justify-content: center;
}

.title {
    color: #fff;
  font-size: 48px; 
  text-align: center; 
  text-shadow: 0 0 5px #8a2be2, 0 0 10px #8a2be2, 0 0 15px #8a2be2;
  margin-bottom: 50px;
}

.event-card {
    border-radius: 10px;
    text-align: center;
}

.event-image {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.circles-left{
    width: 60%;
    transform: translateY(-750px);
    margin-left: -140px;
}

.circles-right{
    width: 60%;
    transform: translateY(-750px);
    margin-left: 410px;

}

.deencode-card {
    grid-column: 1; 
    grid-row: 1; 
    margin-left: 200px;
}

.hackocode-card {
    grid-column: 1; 
    grid-row: 2; 
    margin-left: 200px;
}

.logocon-card {
    grid-column: 2; 
    grid-row: 1; 
    margin-right: 200px;
}

.valorant-card {
    grid-column: 2; 
    grid-row: 2; 
    margin-right: 200px;
    margin-top: -140px; 
}
