@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Berkshire+Swash&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body::-webkit-scrollbar{
  display: none;
}

#root{
  overflow-x: hidden;
  /* background: linear-gradient(177.46deg, #000000 -20.55%, #6829d8 297.28%); */
  background-attachment: fixed;
}
